*,
html {
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #9ccdf5;
}

.container {
  display: grid;
  grid-template-areas: "canvas light pigeon";
  grid-template-columns: 2fr 1fr 1fr;
  gap: 5px;
  background-color: #2196f3;
  padding: 5px;
  border-radius: 25px;
}
.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 20px;
}
.container > #canvas {
  grid-area: canvas;
  text-align: center;
}
.container > div.menu {
  grid-area: menu;
}
.container > div.content {
  grid-area: content;
}
.container > div.footer {
  grid-area: footer;
}

.color {
  height: 20px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 10px;
}
#webgl {
  border-radius: 10px;
}
#title {
  text-align: center;
}

h1 {
  margin: 0;
}
h3 {
  margin: 5px;
}

@media screen and (max-width: 1248px) {
  .container {
    grid-template-areas:
      "canvas canvas"
      "light pigeon";
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 650px) {
  canvas{
    width: 90vw;
    height: 90vw;
  }
}
