/* SETUP */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Montserrat", serif;
  src: url(Movement/Desktop/Movement-DirectThin.otf);
}
*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #bf1a2f;
  font-family: "Montserrat", sans-serif;
}
.btn {
  background-color: #edebe8;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

  border-style: solid;
  border-width: 2px 2px 4px 2px;

  color: #1e1b18;
  font-size: 2rem;
}
.btn:hover {
  background-color: #f6bdd1; /* Green */
}
.btn:active {
  transform: translateY(4px);
}

/* OPENING CARD */
#opening {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#opening h1 {
  font-size: 7rem;
  color: #f6bdd1;
}
h2 {
  font-size: 4rem;
  color: #f3a5c0;
  text-align: center;
  margin: 5px;
}
p {
  font-size: 2.5rem;
  color: #1e1b18;
  font-weight: 500;
  text-align: center;
  padding: 30px;
}
#opening .btn {
  font-size: 3rem;
  font-weight: 600;
  border-width: 4px 4px 7px 4px;
}

/* GAME VIEW */
canvas {
  width: 60vw;
}
#game {
  display: none;
  /* display: grid; */
  grid-template-areas:
    "header header header"
    "menu main info";
  grid-template-columns: 1.2fr auto 1fr;
  gap: 5px;
}
#game > #header {
  grid-area: header;
  text-align: center;

  font-size: 3rem;
  color: #f6bdd1;
}
#game > #menu {
  grid-area: menu;
  padding: 25px;
}
#game > #main {
  grid-area: main;
  place-self: center;
}
#game > #info {
  font-size: 2rem;
}
canvas {
  border-radius: 20px;
  border-style: solid;
  border-width: 8px 5px 5px 5px;

  color: #1e1b18;
  font-size: 150%;
}

#menu, #info {
  font-size: 2rem;
  color: #edebe8;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
#performance {
  font-size: 1.5rem;
}
#mouse {
  background-color: #f3a5c0;
}
#return {
  display: none;
}
.slider {
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background: #edebe8;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f3a5c0;
  cursor: pointer;
}

#info{
  gap: 10px;
}
#letters, #arrows{ 
  display: grid;
  grid-template-columns: repeat(3, 57px);
  gap: 2px;
  justify-content: center;
}
#arrows {
  grid-template-columns: repeat(2, 57px);
}
#letters div,
#arrows div {
  border-radius: 5px;
  text-decoration: none;
  border-style: solid;
  border-width: 2px 2px 4px 2px;
  color: #1e1b18;
  background-color: #edebe8;
  padding: 5px;
}

@media screen and (max-width: 1240px) {
  canvas {
    width: 60vw;
    height: 60vw;
  }
}
@media screen and (max-width: 670px) {
  #opening h1 {
    font-size: 520%;
  }
  #opening h2 {
    font-size: 300%;
  }
  #opening p {
    font-size: 200%;
  }
}
