/* SETUP */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Montserrat", serif;
  src: url(Movement/Desktop/Movement-DirectThin.otf);
}
*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #bf1a2f;
  font-family: "Montserrat", sans-serif;
}
.btn {
  background-color: #edebe8;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

  border-style: solid;
  border-width: 2px 2px 4px 2px;

  color: #1e1b18;
  font-size: 2rem;
}
.btn:hover {
  background-color: #f6bdd1; /* Green */
}
.btn:active {
  transform: translateY(4px);
}

/* OPENING CARD */
#opening {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;

  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  /* display: none; */
}
#opening h1 {
  font-size: 7rem;
  color: #f6bdd1;
  /* padding: 0; */
}
h2 {
  font-size: 4rem;
  color: #f3a5c0;
  text-align: center;
  margin: 5px;
  /* padding: 0; */
}
p {
  font-size: 2.5rem;
  color: #1e1b18;
  font-weight: 500;
  text-align: center;
  padding: 30px;
}
#opening .btn {
  font-size: 3rem;
  font-weight: 600;
  border-width: 4px 4px 7px 4px;
}

/* GAME VIEW */
#game {
  display: none;
  /* display: grid; */
  grid-template-areas:
    "header header header"
    "menu main info"
    "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
  gap: 5px;
}
#game > #header {
  grid-area: header;
  text-align: center;

  font-size: 3rem;
  color: #f6bdd1;
}
#game > #menu {
  grid-area: menu;
  padding: 25px;
}
#game > #main {
  grid-area: main;
  place-self: center;
}
#game > #info {
  font-size: 2rem;
}
#game > #footer {
  grid-area: footer;
  text-align: center;
  font-size: 2rem;
  color: #f6bdd1;
}

canvas {
  border-radius: 20px;
  border-style: solid;
  border-width: 8px 5px 5px 5px;

  color: #1e1b18;
  font-size: 150%;
}
#menu {
  padding: 20px;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#performance{
  font-size: 1.5rem;
}
#mouse {
  background-color: #f3a5c0;
}
#game p{
  font-size: 1.5rem;
}
#return {
  /* color: red; */
  display: none;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 10px;  
  background: #edebe8;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #f3a5c0;
  cursor: pointer;
}